/* common css */
*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #141414;
}

header
{
    color:#5b0001;
    text-align: center;
    font-size: 4em;
    line-height: 2em;
    font-family: "Bloody Font";
}

/* Font */
@font-face {
    font-family: "Arnod";
    src: url("css/Arnod.otf");
}

@font-face {
    font-family: "Bloody Font";
    src: url("css/BloodttypepersonaluseBold-OVe6e.otf");
}

/* Navbar */
#navbar
{
    background-color:#5b0001;
}


/* Main Page css */

/* Images */


/* Tour Dates */

#TourDate1
{
    background-color:#5b0001;
    color:#d64612;
    margin-top: 8px;
    margin-left:8px;
    padding:8px;
    border-style: solid;
    border-width:3px;
    border-color:black
}

#AllTourDates
{
    background-color:#5b0001
}

/* Footer */

footer
{
    color:#d64612;
    text-align: center;
}

h1
{
    margin-bottom: 20px;
}

.socialmedia
{
    margin:20px;
}

h6
{
    color:#d64612
}

